

@media screen and (max-width: 1020px){
    .toolbar{
        padding: 1rem;
    }
    
    .Navbar-navlinks-1{
        margin: 1rem auto 0 auto !important;
    }

    .css-96uuyl{
        width: 40% !important;
    }
}

.css-1kcggdq-MuiInputBase-root{
    width: 88%;
}

.css-yz9k0d-MuiInputBase-input{
    width: 100% !important;
}


a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

a:hover {
    color: #3f51b5 !important;
}



